// User defined variables
$primary-color: #09b4ff;
$border-color: #0cb4fb7b;
$para-color: #0000006d;
$padding: 15px;
$font: "arial";
$nav-link-color: #fff;
$durationInSeconds: 0.5s;
$defaultHeight : 300px;
$defaultWidth : 300px;
$size: 25, 50, 75, 100;